.body {
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  padding: 0%;
}

.btn {
  background-color: steelblue;
  color: #fff;
  border:none;
  border-radius:10px;
}
